@model IEnumerable<Investrosite.Models.Database.Manager>
@{
    ViewBag.Title = "SearchManager";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>SearchManager</h2>
<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th> ID</th>
                        <th> Name</th>
                        <th> Email</th>
                        <th> Phone</th>
                        <th> Role</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var p in Model)
                    {
                    <tr>
                        <td> @p.Id</td>
                        <td> @p.Name</td>
                        <td> @p.Email</td>
                        <td> @p.Phone</td>
                        <td> @p.Role</td>
                        <td><a href="/Admin/EditManager/@p.Id">Edit</a></td>
                        <td><a href="/Admin/DeleteManager/@p.Id" style="color:red">Delete</a></td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
